{
  "extends": ["@antfu"],
  "rules": {
    "indent": ["warn", 2],
    "curly": "off",
    "quotes": ["error", "single"],
    "no-console": "off",
    "@typescript-eslint/comma-dangle": "off",
    "vue/comma-dangle": "off",
    "vue/valid-v-for": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-statements-per-line": "off",
    "unused-imports/no-unused-imports": "off",
    "vue/html-self-closing": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "antfu/top-level-function": "off",
    "vue/dot-location": "off",
    "vue/space-unary-ops": "off",
    "no-restricted-globals": 0,
    "import/default": "off",
    "vue/v-on-event-hyphenation": "off",
    "prefer-const": "off"
  },
  "overrides": [
    {
      "files": ["types/**"],
      "extends": ["@antfu"],
      "rules": {
        "@typescript-eslint/no-namespace": "off"
      }
    }
  ]
}
