div.ongoing-bar {
  height: 1.7em;
  padding: 4px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--primary);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  // green blinking dot
  span:last-child::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 25%;
    right: -15px;
    width: 10px;
    height: 10px;
    animation: glow 800ms infinite alternate;
  }
  span {
    position: relative;
    display: inline-block;
    background-color: black;
    padding: 1px 7px;
    margin-right: 4px;
    border-radius: 5px;

    strong {
      letter-spacing: 1px;
    }
  }
}

.ongoing-enter-active,
.ongoing-leave-active {
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
  margin: 0 auto 0 auto;
  transform: translateY(0);
}

.ongoing-enter-from,
.ongoing-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes glow {
  0% {
    background-color: hsl(120, 99%, 30%);
  }
  100% {
    background-color: hsl(120, 99%, 40%);
  }
}
