@use './components/error';
@use './base.scss' as *;
@use './components/header.scss';
@use './components/ongoing.scss';
@use './components/row.scss';

#app {
	color: var(--text);
	width: 100%;
}

.container {
	width: fit-content;
	margin: auto;
	position: relative;
}

table {
	border-spacing: 0 5px;
	text-align: center;
}

.edit-icon {
	height: 100%;
	cursor: pointer;
	transition: transform 100ms ease-in-out, background-color 150ms ease-in-out;
	user-select: none;
	border-radius: 4px;
}
.edit-icon:hover {
	transform: scale(0.96);
}

.alert-icon {
	display: block;
	margin: auto;
}
.spinner {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.circle-border {
	width: 25px;
	height: 25px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-image: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1) 100%);
	animation: spin 0.6s linear 0s infinite;
}

td .circle-border {
	padding: 2px;
	margin: 3px;
	width: 15px;
	height: 15px;
}

td .spinner {
	margin: 0;
}
.circle-core {
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	border-radius: 50%;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

.editing-session,
.editing-session ~ td {
	background-color: hsl(188, 68%, 21%);
	transition: background-color 100ms ease-in-out;
}

button.close-app {
	--pos: 0.5em;
	border: none;
	border-radius: 4px;
	background-color: #bf616a;
	position: absolute;
	color: var(--text);
	padding: 0.25em 0.3em;
	line-height: 100%;
	z-index: 12;
	font-size: 1em;
	right: var(--pos);
	top: var(--pos);
}

.slide-enter-active,
.slide-leave-active {
	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
	transform: translateY(0px);
}

.slide-enter-from,
.slide-leave-to {
	opacity: 0;
	transform: translateY(20px);
}
//mobile
@media only screen and (max-width: 400px) {
	table {
		font-size: clamp(0.4em, 4vw, 24px);
		width: 98vw;
	}
	th {
		padding: 0.6em 0.2em;
	}
	.btn {
		margin-right: 0.1em;
	}
	.sessions-counter {
		margin-left: 0.5em;
	}
	.date {
		padding: 0.4em 0.45em;
	}
	.ongoing-bar {
		width: 60% !important;
	}
	.headers-row {
		& th:nth-child(1) {
			padding: 0.4em 0.6em;
		}
	}
}
