@use './components/error';
@use './base.scss';
@use './components/header.scss';
$td-bg: hsl(220, 17%, 30%);
$td-bg-lighter: hsl(220, 17%, 36%);

#app {
	color: var(--text);
	width: 100%;
}

.container {
	width: fit-content;
	margin: auto;
	position: relative;
}

table,
th,
td {
	border-collapse: collapse;
	text-align: center;
}
.headers-row {
	position: sticky;
	top: -1px;
	z-index: 1;
}
th {
	padding: 0.4em 0.8em;
	background-color: #15616d;
	max-width: 115px;
	position: relative;
	&:not(:last-child)::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 2px;
		height: 70%;
		border-radius: 4px;
		background-color: hsl(188, 68%, 30%);
	}
}

td {
	background-color: $td-bg;
	padding: 0.4em 0.45em;
	border-right: 1px solid #5e81ac;
	max-width: 85px;
	word-wrap: break-word;
	transition: background-color 800ms ease-in-out;
	outline: none;

	&:last-child {
		border-right: none;
		padding: 0;
	}
}

.row {
	border-top: 5px solid var(--bg);
}
.edit-icon {
	background-color: $td-bg;
	height: 100%;
	cursor: pointer;
	transition: transform 0.1s ease-in-out, background-color 800ms ease-in-out;
	user-select: none;
}
.edit-icon:hover {
	transform: scale(0.96);
}
thead th:first-child {
	border-radius: 7px 0 0 10px;
	overflow: hidden;
}
thead th:last-child {
	border-radius: 0 7px 10px 0;
	overflow: hidden;
}
.row td:first-child {
	border-radius: 9px 0 0 10px;
	position: relative;
}

.row td:last-child {
	overflow: hidden;
	border-radius: 0px 9px 10px 0px;
	width: 30px;
}
//mobile
@media only screen and (max-width: 400px) {
	table {
		font-size: clamp(0.4em, 4vw, 24px);
		width: 100vw;
	}
	th {
		padding: 0.6em 0.2em;
	}
	.btn {
		margin-right: 0.5em;
	}
	.sessions-counter {
		margin-left: 0.5em;
	}
}

td:first-child {
	padding: 0.4em 0.3em;
}

.duration {
	font-weight: bold;
	padding: 0.4em 0.3em;
}

.alert-icon {
	display: block;
	margin: auto;
}

.spinner {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.circle-border {
	width: 25px;
	height: 25px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #5e81ac;
	background: rgb(63, 249, 220);
	background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1) 100%);
	animation: spin 0.6s linear 0s infinite;
}

tr.new-session {
	td {
		background-color: $td-bg-lighter;
	}
}

td .circle-border {
	padding: 2px;
	margin: 3px;
	width: 15px;
	height: 15px;
}

.circle-core {
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	border-radius: 50%;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

.editing-session,
.editing-session ~ td {
	background-color: hsl(188, 68%, 21%);
	transition: background-color 100ms ease-in-out;
}

button.close-app {
	--pos: 0.5em;
	border: none;
	border-radius: 4px;
	background-color: #bf616a;
	position: absolute;
	color: var(--text);
	padding: 0.25em 0.3em;
	line-height: 100%;
	font-size: 1em;
	right: var(--pos);
	top: var(--pos);
}

.section {
	position: relative;
	.section-options {
		position: absolute;
		padding: 0;
		left: 2px;
		top: 100%;
		margin: 0;
		z-index: 100;
		list-style: none;
		background-color: #54627c;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0px 1px 3px 1px var(--primary);
		& li {
			padding: 3px 7px;
			border-bottom: 1px solid var(--primary);
			cursor: pointer;
			&:hover {
				background-color: #515767;
			}
			&:last-child {
				border: none;
			}
		}
	}
}
