@use './components/error';
:root {
	--bg: #2e3440;
	--text: #e5e9f0;
	--primary: #15616d;
}
$td-bg: hsl(220, 17%, 30%);

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: #888787;
}
:where(::before, ::after) {
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--bg);
}
* {
	font-family: 'Karla', sans-serif;
}

#app {
	color: var(--text);
	width: 100%;
}
header {
	padding-top: 1em;
	width: 100%;
	text-align: center;
	h1 {
		margin: 0;
	}
}

.btn {
	height: max-content;
	margin: 0 0 20px auto;
	display: block;
	padding: 0em 1em;
	background-color: hsl(220, 16%, 33%);
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;
	color: var(--text);
}

.container {
	width: fit-content;
	margin: auto;
	position: relative;
}

table,
th,
td {
	border-collapse: collapse;
	text-align: center;
}
.headers-row {
	position: sticky;
	top: -1px;
}
th {
	padding: 0.4em;
	background-color: #15616d;
	max-width: 115px;
	position: relative;
	&:not(:last-child)::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 2px;
		height: 70%;
		border-radius: 4px;
		background-color: hsl(188, 68%, 30%);
	}
}

td {
	background-color: $td-bg;
	padding: 0.4em 0.45em;
	border-right: 1px solid #5e81ac;
	max-width: 85px;
	word-wrap: break-word;

	&:last-child {
		border-right: none;
		padding: 0;
	}
}

.row {
	border-top: 5px solid var(--bg);
}
.edit-icon {
	background: $td-bg;
	height: 100%;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	user-select: none;
}
.edit-icon:hover {
	transform: scale(0.96);
}

.row td:first-child,
thead th:first-child {
	border-radius: 5px 0 0 10px;
	overflow: hidden;
}

.row td:last-child,
thead th:last-child {
	overflow: hidden;
	border-radius: 0px 5px 10px 0px;
}

@media only screen and (max-width: 400px) {
	table {
		font-size: clamp(0.4em, 4vw, 24px);
		width: 100vw;
	}
	.btn {
		margin-right: 0.5em;
	}
}

td:first-child {
	padding: 0.4em 0.3em;
}

.duration {
	font-weight: bold;
	padding: 0.4em 0.3em;
}

.spinner {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.circle-border {
	width: 25px;
	height: 25px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: #5e81ac;
	background: rgb(63, 249, 220);
	background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgba(63, 249, 220, 1) 100%);
	animation: spin 0.8s linear 0s infinite;
}

td .circle-border {
	padding: 2px;
	margin: 3px;
	width: 15px;
	height: 15px;
}

.circle-core {
	width: 100%;
	height: 100%;
	background-color: hsl(220, 17%, 27%);
	border-radius: 50%;
}

.sessions-counter {
	position: relative;
	top: 0.5em;
	font-size: 1.2em;
	float: left;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}
